<ion-modal-view style="width: 100%; height: 100%; top: 0%; left: 0%; right: 0%; bottom: 0%;"
                xmlns="http://www.w3.org/1999/html">
    <ion-header-bar class="bar-positive">
        <h1 class="title">SEQ</h1>
        <!--<div class="buttons">-->
        <!--<i class="ion ion-ios-close-outline">-->
        <button class="button button-icon button-clear ion-android-close" ng-click="onCloseDlCtLbc();">
        </button>
        <!--<button class="button button-clear" ng-click="dialog_add_seq.hide()"></button>-->
        <!--</div>-->
    </ion-header-bar>
    <ion-content>
        <!--<div class="row" style="height: 100px"></div>-->

        <div class="row">
            <div class="col">
                <label class="item item-input item-select">
                    <div class="input-label">
                        Group Code
                    </div>
                    <!--<select ng-disabled="true" ng-change="onChangeGsdDetail();" data-ng-options="data.code for data in cdt_dl_lbc.gsd_detail_obj" data-ng-model="cdt_dl_lbc.gsd_detail_data">&ndash;&gt;-->
                    <!--<option value=""></option>-->
                    <!--</select>&ndash;&gt;-->
                    <span>{{cdt_dl_lbc.group_code}}</span>

                </label>
            </div>
            <!--        </div>
                    <div class="row">-->
            <div class="col">
                <label class="item item-input">
                    <div class="input-label">
                        Group Name
                    </div>
                    <span>{{cdt_dl_lbc.group_name}}</span>
                </label>
            </div>
            <!--            <div class="col">
                            <label class="item item-input">
                                <div class="input-label">
                                    Status Id
                                </div>
                                <span>{{cdt_dl_lbc.status_id}}</span>
                            </label>
                        </div>-->
        </div>
        <div class="row">
            <div class="col">
                <!--<div class="col" ng-click="onClickShowAddEmpCode();">-->
                <label class="item item-input">
                    <!--<div class="input-label">-->
                    <!--Employee Code &nbsp;<i class="ion ion-ios-person" style="color: red"></i>-->
                    <!--</div>-->
                    <!--<span> {{cdt_dl_lbc.emp_code}}</span>-->
                    <span class="input-label"> รหัสพนักงาน &nbsp;</span>
                    <input type="text" placeholder="Employee Code" ng-model="cdt_dl_lbc.emp_code">
                </label>
            </div>
            <div class="col">
                <label class="item item-input">
                    <span class="input-label"> จำนวนคน &nbsp;</span>
                    <input type="number" value="1" placeholder="1" ng-model="cdt_dl_lbc.dividedby" ng-change="devidedTime();">
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col col-70">
                <label class="item item-input">
                    <div class="input-label">
                        Cycletime
                    </div>
                    <input type="text" placeholder="Cycletime" ng-disabled="true" ng-model="cdt_dl_lbc.cycletime" ng-change="setSttIdByCcTTimer();">
                </label>
            </div>
            <div class="col col-10 al_r">
                <button class="button button-balanced" ng-click="saveLbDetail();">
                    &nbsp;&nbsp;Save&nbsp;&nbsp;
                </button>
            </div>
            <div class="col col-10 al_l">
                <button class="button button-assertive" ng-click="onCloseDlCtLbc();">
                    Cancel
                </button>
            </div>
        </div>
        <div class="row ">
            <div class="col" style="text-align: center" >
                <!--<p>{{cdt_dl_lbc.count_time}}</p>-->
                <span style='font-size:200px;'>{{cdt_dl_lbc.count_time}}</span>
            </div>
        </div>
        <div class="row ">
            <div class="col"></div>
<!--            <div class="col al_r" ng-if="cdt.is_auto == 'f'">-->
            <div class="col al_r">
            <button class="button button-balanced" ng-click="clickStartStopT();" >
                    &nbsp;&nbsp;Start/Stop&nbsp;&nbsp;
                </button>
            </div>
<!--            <div class="col al_l" ng-if="cdt.is_auto == 'f'">-->
            <div class="col al_l">
            <button class="button button-assertive" ng-click="onClickReset();">
                    Reset
                </button>
            </div>
            <div class="col"></div>
        </div>

        <div class="row">
            <div class="col" align="center">
                <button class="button button-balanced" ng-click="onClickPrint();">
                    Print
                </button>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
