<ion-modal-view style="width: 100%; height: 100%; top: 0%; left: 0%; right: 0%; bottom: 0%;">
    <ion-header-bar class="bar-positive">
        <button class="button button-icon button-clear ion-android-close" ng-click="dialog_style.hide()">
        </button>
        <h1 class="title">Search Style</h1>
    </ion-header-bar>
    <ion-content>
        <div class="row" style="height: 25px;"></div>
        <div class="row">
            <div class="col">
                <label class="item item-input">
                    <div class="input-label">
                        Style
                    </div>
                    <input type="text" placeholder="Style" ng-model="cdt_dl_style.style_keyword">
                </label>
            </div>
            <!--<div class="col">test {{}}</div>-->
            <div class="col col-10" ng-if="cdt_dl_style.style_keyword.length>0&&((cdt_dl_style.style_obj|filter:cdt_dl_style.style_keyword:strict).length == 0)">
                <button class="button button-energized" ng-click="onClickAddGsdHeader();">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table w3-table w3-bordered w3-striped" style="table-layout: fixed">
                    <tr ng-repeat="style_data in cdt_dl_style.style_obj|filter:cdt_dl_style.style_keyword:strict track by $index" ng-click="onClickRowStyle(style_data);">
                        <td>
                            <!--{{style_data.style}}({{style_data.total_sam|number:3}})-->
                            {{style_data.style}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
