<ion-view view-title="Line Balancing">
    <!--    <div class="bar bar-header bar-positive">
            <h1 class="title">Line Balancing</h1>ba
 ิ        </div>-->
    <ion-nav-view name="home">
        <ion-scroll direction="xy" style="width: 100%; height: 100%">
            <div class="row pdd_mrg0 " style="height: 50px;"></div>
            <div class="row pdd_mrg0 ">
                <div class="col2-15">
                    <label class="item item-input item-select">
                        <div class="input-label2">
                            Location
                        </div>&nbsp;&nbsp;&nbsp;
                        <select ng-model="cdt.factory_data" style="width: 100%; font-size:12px;"  ng-change="onChangeFactory()"
                                ng-options="factory_data.name for factory_data in cdt.factory_obj track by factory_data.id" >
                        </select>

                        <!--<select ng-model="cdt.factory_id" style="width: 100%"-->
                        <!--ng-change="onChangeFactory()">-->
                        <!--<option ng-repeat="factory_data in cdt.factory_obj"-->
                        <!--value='{{factory_data.id}}'>{{factory_data.name}}-->
                        <!--</option>-->
                        <!--</select>-->
                    </label>
                </div>
                <div class="col2-20">
                    <div ng-if="cdt.factory_id">
                        <label class="item item-input item-select">
                            <div class="input-label2">
                                Line
                            </div>
                            <!--<select ng-model="cdt.line_id" style="width: 100%"-->
                            <!--ng-change="getGsdHeader()">-->
                            <!--<select ng-model="cdt.line_data" style="width: 100%"-->
                            <!--ng-change="onChangeLine()">-->
                            <!--<option ng-repeat="lbf_data in cdt.lbf_obj"-->
                            <!--value='{{lbf_data.line_id}}'>{{lbf_data.code}} {{lbf_data.line_name}}-->
                            <!--</option>-->
                            <!--</select>-->

                            <select ng-model="cdt.line_data" style="width: 100%;  font-size:12px;" ng-change="onChangeLine()"
                                    ng-options="(lbf_data.code+' '+lbf_data.line_name) for lbf_data in cdt.lbf_obj track by lbf_data.line_id">
                            </select>
                        </label>
                    </div>
                </div>
                <div class="col2-15">
                    <!--<div ng-if="cdt.mode == 'update'">-->
                    <div ng-if="cdt.factory_id && cdt.line_id && cdt.customer && cdt.style">
                        <label class="item item-input">
                            <div class="input-label2">SAM/ตัว</div>&nbsp;&nbsp;&nbsp;
                            <input style="font-size:12px;" type="text" placeholder="SAM" ng-model="cdt.total_sam" >
                        </label>
                    </div>
                </div>
                <div class="col2-8">
                    <!--<div ng-if="cdt.mode == 'update'">-->
                    <div ng-if="cdt.factory_id && cdt.line_id && cdt.customer && cdt.style">
                        <label class="item item-input">
                            <div class="input-label2">WIP</div>&nbsp;&nbsp;&nbsp;
                            <input style="font-size:12px;" type="number" placeholder="5" ng-model="cdt.wip" ng-change="onChangeWip();" >
                        </label>
                    </div>
                </div>
                <div class="col2-8">
                    <div ng-if="cdt.mode == 'update' || cdt.mode == 'insert'">
                        <button class="button button-energized" ng-click="onClickRollBack();">
                            Roll Back
                        </button>
                    </div>
                </div>

                <div class="col2-8">
                    <div ng-if="cdt.mode == 'update'">
                        <button class="button button-energized" ng-click="onClickUpdateLbMain();">
                            Update
                        </button>
                    </div>
                </div>
                <div class="col2-8">
                    <div ng-if="cdt.mode == 'update' || cdt.mode == 'insert'">
                        <button class="button button-energized" ng-click="onClickNewRevision();">
                            New Rev.
                        </button>
                    </div>
                </div>

                <div class="col2-5">
                    <div ng-if="cdt.mode == 'update' || cdt.mode == 'insert'">
                        <button class="button button-energized" ng-click="onClickAdd();">
                            Add
                        </button>
                    </div>
                </div>
                <div class="col2-5">
                    <div ng-if="cdt.mode == 'update'">
                        <button class="button button-energized" ng-click="onClickFinish();">
                            Finish
                        </button>
                    </div>
                </div>
            </div>
            <div class="row pdd_mrg0  responsive-sm">



                <!--<div class="col">-->
                <!--<div ng-if="cdt.line_id">-->
                <!--<label class="item item-input item-select">-->
                <!--<div class="input-label">-->
                <!--Customer-->
                <!--</div>-->
                <!--<select ng-model="cdt.customer" style="width: 100%" ng-change="onChangeCust();">-->
                <!--<option ng-repeat="cust_data in cdt.cust_obj" value='{{cust_data.customer}}'>{{cust_data.customer}}</option>-->
                <!--</select>-->
                <!--</label>-->
                <!--</div>-->
                <!--</div>-->
                <!---->
                <div class="col col-25">
                    <div ng-if="cdt.line_data" ng-click="onClickIconStyle();">
                        <label class="item item-input">
                            <div class="input-label2">
                                Style
                            </div>
                            <div class="input-label2"><i class="ion ion-ios-search"></i>&nbsp; {{cdt.style}}</div>
                            <!--                            <select ng-model="cdt.style_data" style="width: 100%" ng-change="onChangeStyle();">
                                                            <option ng-repeat="style_data in cdt.style_obj" value='{"id":"{{style_data.id}}","style":"{{style_data.style}}","total_sam":"{{style_data.total_sam}}"}'>{{style_data.style}}({{style_data.total_sam|number:3}})</option>
                                                        </select>-->
                        </label>
                    </div>
                </div>

                <div class="col" ng-if="cdt.style">
                    <label class="item item-input">
                        <div class="input-label2">
                            Customer
                        </div>
                        <div class="input-label2">&nbsp; {{cdt.customer}}</div>
                    </label>
                </div>

                <div class="col">
                    <div ng-if="cdt.mode == 'update' || cdt.mode == 'insert' || cdt.mode == 'view'">
                        <label class="item item-input">
                            <div class="input-label2">เป้า/ชั่วโมง %OTP แพ็คแผน </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="number" focus-me="cdt.shouldBeOpen" style="font-size:12px;"
                                   placeholder="เป้า/ชั่วโมง" id="txt_otp_targert" class="input-label2"
                                   ng-model="cdt.otp_target" ng-change="onChangeOptTakt();">
                        </label>
                    </div>
                </div>
                <div class="col">
                    <div ng-if="cdt.mode == 'update' || cdt.mode == 'insert' || cdt.mode == 'view'">
                        <label class="item item-input">
                            <div class="input-label2">Takt Time แผน </div>&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="number" placeholder="takt time plan" ng-disabled="true" style="font-size:12px;"
                                   ng-model="cdt.takttime_plan" ng-change="onChangeOptTakt();">
                        </label>
                    </div>
                </div>
            </div>
            <div class="row pdd_mrg0  responsive-sm">
                <div class="col" ng-if="cdt.style_data" ng-click="onClickRevision();">
                    <label class="item item-input">
                        <div class="input-label2">
                            Last update
                        </div>

                        <div class="input-label2"><i class="ion ion-ios-search"></i>&nbsp; {{cdt.last_update}}</div>
                    </label>
                </div>

                <div class="col col-20">
                    <div ng-if="cdt.mode == 'update' || cdt.mode == 'insert' || cdt.mode == 'view'">
                        <label class="item item-input" >
                            <div class="input-label2" >รายรับต่อHR min </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="number" placeholder="รายรับต่อHR min" style="font-size:12px;"
                                   ng-model="cdt.income" ng-change="onChangeIncome();">
                        </label>
                    </div>
                </div>

                <div class="col">
                    <div ng-if="cdt.mode == 'update' || cdt.mode == 'insert' || cdt.mode == 'view'">
                        <label class="item item-input">
                            <div class="input-label2">%EFF แผน </div>
                            <input type="number" placeholder="%EFF Plan" ng-disabled="true" style="font-size:12px;"
                                   ng-model="cdt.eff_plan" ng-change="onChangeIncome();">
                        </label>
                    </div>
                </div>
                <div class="col">
                    <div ng-if="cdt.mode == 'update' || cdt.mode == 'view'">
                        <label class="item item-input">
                            <div class="input-label2">Man (นับจาก Record) </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="number" ng-disabled="true" placeholder="Man" style="font-size:12px;"
                                   ng-model="cdt.man">
                        </label>
                    </div>
                </div>
            </div>
            <div class="row pdd_mrg0  responsive-sm">
                <div class="col">
                    <div ng-if="cdt.mode == 'update' || cdt.mode == 'view'">
                        <label class="item item-input">
                            <div class="input-label2">
                                Total Cycle Time
                            </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="number" ng-disabled="true" placeholder="Time" ng-model="cdt.total_cycletime" style="font-size:12px;">
                        </label>
                    </div>
                </div>
                <div class="col">
                    <div ng-if="cdt.mode == 'update' || cdt.mode == 'view'">
                        <label class="item item-input">
                            <div class="input-label2">
                                Cycle Time max(นาที/ตัว)
                            </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="number" ng-disabled="true" placeholder="Time" ng-model="cdt.cycletime_max" style="font-size:12px;">
                        </label>
                    </div>
                </div>

                <div class="col">
                    <div ng-if="cdt.mode == 'update' || cdt.mode == 'view'">
                        <label class="item item-input">
                            <div class="input-label2">% Balance</div>
                            <input type="number" ng-disabled="true" placeholder="balance" ng-model="cdt.percent_balance" style="font-size:12px;">
                        </label>
                    </div>
                </div>
                <div class="col">
                    <div ng-if="cdt.mode == 'update' || cdt.mode == 'view'">
                        <label class="item item-input">
                            <div class="input-label2">BN ผลผลิต(ตัว/ชม.)</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="number" ng-disabled="true" placeholder="BN Oupt" style="font-size:12px;"
                                   ng-model="cdt.bn_output">
                        </label>
                    </div>
                </div>
            </div>
            <div class="row pdd_mrg0  responsive-sm">

                <div class="col">
                    <div ng-if="cdt.mode == 'update' || cdt.mode == 'view'">
                        <label class="item item-input">
                            <div class="input-label2">% EFF คอขวด </div>
                            <input type="number" ng-disabled="true" placeholder="BN EFF" style="font-size:12px;"
                                   ng-model="cdt.bn_eff">
                        </label>
                    </div>
                </div>
                <div class="col">
                    <div ng-if="cdt.mode == 'update' || cdt.mode == 'view'">
                        <label class="item item-input">
                            <div class="input-label2">% OTP คอขวด </div>
                            <input type="number" ng-disabled="true" placeholder="BN OTP" style="font-size:12px;"
                                   ng-model="cdt.bn_otp">
                        </label>
                    </div>
                </div>
                <div class="col">
                    <div ng-if="cdt.mode == 'update' || cdt.mode == 'view'">
                        <label class="item item-input">
                            <div class="input-label2">
                                Position
                            </div>
                            <input type="text" ng-disabled="true" placeholder="Position" style="font-size:12px;"
                                   ng-model="cdt.bn_position">
                        </label>
                    </div>
                </div>
                <div class="col">
                    <div ng-if="cdt.mode == 'update' || cdt.mode == 'view'">
                        <label class="item item-input">
                            <div class="input-label2">
                                Employee
                            </div>
                            <input type="text" ng-disabled="true" placeholder="Employee" style="font-size:12px;"
                                   ng-model="cdt.bn_employee">
                        </label>
                    </div>
                </div>
            </div>

            <div class="row pdd_mrg0  responsive-sm">
                <div class="col">
                    <div ng-if="cdt.mode == 'update' || cdt.mode == 'view'">
                        <label class="item item-input">
                            <div class="input-label2">
                                โอกาสสูงสุดในการเพิ่ม %EFF
                            </div>
                            <input type="text" ng-disabled="true" placeholder="  N/A" style="font-size:12px;"
                                   ng-model="cdt.eff_chance">
                        </label>
                    </div>
                </div>
                <div class="col">
                    <div ng-if="cdt.mode == 'update' || cdt.mode == 'view'">

                    </div>
                </div>
                <div class="col">
                    <div ng-if="cdt.mode == 'update' || cdt.mode == 'view'">

                    </div>
                </div>
                <div class="col">
                    <div ng-if="cdt.mode == 'update' || cdt.mode == 'view'">

                    </div>
                </div>
            </div>

            <div class="row  responsive-sm">
                <div class="col">
                    <!--chart-colors="color"-->
                    <canvas id="bar" class="chart chart-bar"
                            chart-dataset-override="datasetOverride"
                            chart-data="data" chart-labels="labels"
                            chart-click="onClickGraph"
                            height=50
                    >
                    </canvas>
                </div>

            </div>
            <div class="row" style="display: none">
                <div class="col">
                    <ion-scroll zooming="true" direction="xy" style="width: 100%; height: 30vh">
                        <img ng-src="{{cdt.attatch_chart}}" id="image-preview"/>
                    </ion-scroll>
                </div>
            </div>

            <div class="row  responsive-sm">
                <div class="col">
                    <div ng-if="cdt.mode == 'update' || cdt.mode == 'insert' || cdt.mode == 'view'">
                        <label class="item item-input">
                            <span class="input-label2">Filter&nbsp;<i class="ion-arrow-right-a"></i></span>
                        </label>
                    </div>
                </div>
                <div class="col">
                    <div ng-if="cdt.mode == 'update' || cdt.mode == 'insert' || cdt.mode == 'view'">
                        <label class="item item-input">
                           <div class="input-label2">Position&nbsp;<i
                                   class="ion-search"></i></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="text" placeholder="Position" ng-model="cdt.position_code" style="font-size:12px;">
                            <!--                        <input type="text" placeholder="Position" ng-model="search.$">-->
                        </label>
                    </div>
                </div>
                <div class="col">
                    <div ng-if="cdt.mode == 'update' || cdt.mode == 'insert' || cdt.mode == 'view'">
                        <label class="item item-input">
                       <div class="input-label2">Employee Code&nbsp;<i
                               class="ion-search"></i></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <!--                        <input type="text" placeholder="Employee Code" ng-model="search.employee">-->
                            <input type="text" placeholder="Employee Code" ng-model="cdt.emp_code" style="font-size:12px;">
                        </label>
                    </div>
                </div>
                <div class="col">
                    <div ng-if="cdt.mode == 'update' || cdt.mode == 'insert' || cdt.mode == 'view'">
                        <button class="button button-energized"
                                ng-click="btnOrderDefault(cdt.lbc_obj);">
                            Default Order
                        </button>
                    </div>
                </div>
                <div class="col">
                    <div ng-if="cdt.mode == 'update' || cdt.mode == 'insert' || cdt.mode == 'view'">
                        <button class="button button-energized" ng-click="btnOrderCtMaxMin();">
                            C/T max-min
                        </button>
                    </div>
                </div>
                <div class="col">
                    <div  ng-if="cdt.is_auto == 't' && (cdt.mode == 'update' || cdt.mode == 'insert')">
                        <button class="button button-energized" ng-click="btnAutoData();">
                            Auto Hanger
                        </button>
                    </div>
                </div>
            </div>

            <div>
                <div class="row  responsive-sm" ng-if="cdt.style_data">
                    <div class="col">
                    <label class="item item-input"  style="background-color:#ff0000;color:white;">
                        <div class="input-label2">
                            สีแดง
                        </div>
                        <span class="input-label2">{{cdt.p_red}}</span>
                    </label>
                    </div>
                    <div class="col">
                    <label class="item item-input" style="background-color:#00ff00;color:white;">
                        <div class="input-label2">
                            สีเขียว
                        </div>
                        <span class="input-label2">{{cdt.p_green}}</span>
                    </label>
                    </div>
                    <div class="col">
                    <label class="item item-input" style="background-color:#ffff00;color:white;">
                        <div class="input-label2">
                            สีเหลือง
                        </div>
                        <span class="input-label2">{{cdt.p_yellow}}</span>
                    </label>
                    </div>
                    <div class="col">
                    <label class="item item-input" style="background-color:#ff8000;color:white;">
                        <div class="input-label2">
                            สีส้ม
                        </div>
                        <span class="input-label2">{{cdt.p_orange}}</span>
                    </label>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="cdt.mode == 'update' || cdt.mode == 'insert' || cdt.mode == 'view'">
                <table class="table w3-table w3-bordered w3-striped" style="table-layout: fixed">
                    <tr>
                        <!--<th style="width: 10vw">gsd detail id-->
                        <!--</th>-->
                        <th style="width: 10vw;text-align: center">G Code
                        </th>
                        <th style="width: 25vw;text-align: center">G Name
                        </th>
                        <th style="width: 10vw;text-align: center">Seq
                        </th>
                        <th style="width: 10vw;text-align: center">Employee Code
                        </th>
                        <th style="width: 10vw;text-align: center">Cycletime
                        </th>
                        <th style="width: 10vw;text-align: center">Auto Status
                        </th>
                        <th style="width: 15vw;text-align: center">Record By
                        </th>
                        <th style="width: 10vw;text-align: center" ng-if="cdt.mode == 'update' || cdt.mode == 'insert'" >Delete
                        </th>
                        <!--                        <th style="width: 10vw">status_id
                                                </th>-->
                    </tr>
                </table>
            </div>
            <div class="row" ng-if="cdt.mode == 'update' || cdt.mode == 'insert' || cdt.mode == 'view'" ng-scrollbars ng-scrollbars-config="scrollbarConfig"
                 style="width: 100vw; height: 30vh">
                <!--<ion-scroll direction="y" style="width: 100vw; height: 30vh">-->
                <!--                    <ion-scroll direction="y" style="width: 300px; height: 100px;">-->
                <!--{{orderProp}} and {{orderFlagProp}}-->
                <!---->

                <table class="table w3-table w3-bordered w3-striped" style="table-layout: fixed">
                    <!--<tr ng-repeat="lbc_data in cdt.lbc_obj| filter:cdt.position_code:strict track by $index " ng-click="onClickRowLbc(lbc_data);">-->
                    <!--lbc_data['seq']    , 'cycletime'-->
                    <!--<tr ng-repeat="lbc_data in cdt.lbc_obj| orderBy:(orderProp == 'seq'?lbc_data['seq']:'cycletime'):orderFlagProp" ng-click="onClickRowLbc(lbc_data);">-->
                    <!--<tr ng-repeat="lbc_data in cdt.lbc_obj| orderBy:['gsd_detail_id', lbc_data['seq']]:[true,true]" ng-click="onClickRowLbc(lbc_data);">-->

                    <tr ng-repeat="lbc_data in cdt.lbc_obj| filter:{description:cdt.position_code, employee:cdt.emp_code} track by $index" ng-style="">
                        <!--<td style="width: 10vw" ng-style="null != lbc_data.select_row && lbc_data.select_row ? {'background-color': '#ffff99'} : {'background-color': '#f8f7f7'}">-->
                        <!--{{$index + 1}}-->
                        <!--{{lbc_data.gsd_detail_id}}-->
                        <!--</td>-->
                        <td style="width: 10vw" ng-click="onClickRowLbc(lbc_data, $index);"
                            ng-style="null != lbc_data.select_row && lbc_data.select_row ? {'background-color': '#ffff99'} : {'background-color': lbc_data.table_color}">
                            {{lbc_data.code}}
                        </td>
                        <td style="width: 25vw" ng-click="onClickRowLbc(lbc_data, $index);"
                            ng-style="null != lbc_data.select_row && lbc_data.select_row ? {'background-color': '#ffff99'} : {'background-color': lbc_data.table_color}">
                            {{lbc_data.description}}
                        </td>
                        <td style="width: 10vw" ng-click="onClickRowLbc(lbc_data, $index);"
                            ng-style="null != lbc_data.select_row && lbc_data.select_row ? {'background-color': '#ffff99'} : {'background-color': lbc_data.table_color}">

                            <!--ng-style="null != lbc_data.select_row && lbc_data.select_row ? {'background-color': '#ffff99'} : {'background-color': '#f8f7f7'}">-->

                            {{lbc_data.seq}}
                        </td>
                        <td style="width: 10vw" ng-click="onClickRowLbc(lbc_data, $index);"
                            ng-style="null != lbc_data.select_row && lbc_data.select_row ? {'background-color': '#ffff99'} : {'background-color': lbc_data.table_color}">
                            {{lbc_data.employee}}
                        </td>
                        <td style="width: 10vw" ng-click="onClickRowLbc(lbc_data, $index);"
                            ng-style="null != lbc_data.select_row && lbc_data.select_row ? {'background-color': '#ffff99'} : {'background-color': lbc_data.table_color}">
                            {{lbc_data.cycletime| number:3}}
                        </td>
                        <td style="width: 10vw" ng-click="onClickRowLbc(lbc_data, $index);"
                            ng-style="null != lbc_data.select_row && lbc_data.select_row ? {'background-color': '#ffff99'} : {'background-color': lbc_data.table_color}">
                            {{lbc_data.status}}
                        </td>
                        <td style="width: 15vw" ng-click="onClickRowLbc(lbc_data, $index);"
                            ng-click="onClickRowLbc(lbc_data, $index);"
                            ng-style="null != lbc_data.select_row && lbc_data.select_row ? {'background-color': '#ffff99'} : {'background-color': lbc_data.table_color}">
                            {{lbc_data.name}}
                        </td>
                        <td style="width: 10vw;text-align: center" ng-if="cdt.mode == 'update' || cdt.mode == 'insert'"
                            ng-style="null != lbc_data.select_row && lbc_data.select_row ? {'background-color': '#ffff99'} : {'background-color': lbc_data.table_color}">
                            <button class="button button-small button-assertive" ng-if="lbc_data.is_auto == 'f'"
                                    ng-click="deleteRowLbDetails(lbc_data);" >
                                &emsp;<i class="ion ion-android-remove"></i>&emsp;
                            </button>
                        </td>
                        <!--                                <td style="width: 10vw" ng-style="null != lbc_data.select_row && lbc_data.select_row ? {'background-color': '#ffff99'} : {'background-color': '#f8f7f7'}">
                                                            {{lbc_data.status_id}}
                                                        </td>-->
                        <!--                        <td style="text-align: center" ng-click="onClickRowLbc(lbc_data)"><b><i class="fa fa-remove" style="color: red"></i></b>
                                                </td>-->
                    </tr>
                </table>
                <!--</ion-scroll>-->
            </div>
        </ion-scroll>
    </ion-nav-view>

</ion-view>